* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 100%;
}
input {
    border-radius: 6px;
    padding: 8px;
    border: none;
    margin: 8px;
}
button {
    text-align: center;
    margin: 16px;
    padding: 8px;
}

.todoList {
    margin-top: 16px;
}
